body {
    background: #5c63ce;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #5c63ce;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
}

#all-clear-key:hover, #clear-key:hover {
    background: #d88787;
}

.operator-keys:hover {
    background: #87d892;
}

.num-keys:hover {
    background: #d8d387;
}

#decimal-key:hover {
    background: #d887d8;
}

#total-key:hover {
    background: #87cfd8;
}

button:active {
    background: linear-gradient(45deg, #c24f2c, #b3aa38) ;
}

span {
    position: absolute;
    width: 358px;
    padding: 16px 20px;
    color: gray;
    text-align: right;
}

#main-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

#input-box {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #5c63ce;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 20px;
    width: 358px;
    height: 100px;
    outline: none;
}

#form-box {
    text-align: center;
    margin: 0 auto;
}

.selected {
    background-color: #48cf46;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.405);
    transition: box-shadow 0.2s ease-in-out;
}

.selected:hover{
    background-color: #48cf46;
}